@font-face {
    font-family:titilium;
    src: url(../fonts/Titilium.ttf);
}

@font-face {
    font-family: didot;
    src: url(../fonts/11514.ttf);
}

html {
    height: 100%;
}

body {
    background: -webkit-gradient(linear, right bottom, left top, from(rgb(158, 213, 255)), color-stop(rgb(255, 254, 237)) , to(pink));
    background: linear-gradient(to top left, rgb(158, 213, 255), rgb(255, 254, 237) , pink);
    font-family: didot;
    padding: 0 40px;
}

.main_caption {
    text-align: center;
    color: rgb(32, 39, 135);
    font-size: 50px;
}

.form {
    background-color: rgba(188, 210, 219, .4);
    border: rgba(188, 210, 219, .4) 1px solid;
    border-radius: 6px;
    padding: 10px 0 20px 0;
}
  
.form__container {
    text-align: center;
    padding: 10px 0 0;
}
  
.form__text {
    height: 30px;
    width: 300px;
    font-size: 20px;
    border: rgba(188, 210, 219, 1) solid 1px;
    border-radius: 6px;
    padding-left: 6px;
    background-color: rgba(188, 210, 219, .6);
    color: rgb(32, 39, 135);
    font-family: titilium;
}
  
.form__color {
    height: 30px;
    width: 30px;
    vertical-align: bottom;
    border: rgba(188, 210, 219, 1) solid 1px;
    border-radius: 6px;
    background-color: rgba(188, 210, 219, .6);
}

@-moz-document url-prefix() {
    .form__color{
       height: 34px;
       width: 34px;
       padding: 5px;
    }
    }

.form__btn--disabled {
    background-color: lightgray;
    border: lightgray 1px solid;
    color: graytext;
}

.form__btn--enabled {
    background-color: rgba(188, 210, 219, .6);
    color: rgb(32, 39, 135);
    border: rgba(188, 210, 219, 1) solid 1px;
}

.form__btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; 
    font-size: 20px;
    border-radius: 6px;
    font-family: titilium;
}
    
.list {
    margin: 5px 0;
    padding: 0 20px 0 0;
    background-color: rgba(188, 210, 219, .4);
    text-align: center;
    border: rgba(188, 210, 219, .4) solid 1px;
    border-radius: 6px;
}

.list--hidden {
    visibility: hidden;
}

.list__container {
    text-align: left;
}
  
.list__item {
    padding-left: 6px;
    font-size: 20px;
    min-width: 150px;
    color: rgb(32, 39, 135);
}
  
.list__btn {
    float: right;
    height: 22px;
    width: 22px;
    background-color: initial;
    border: 0;
    border-radius: 6px;
    background-image: url(../images/cross.png);
    background-size: contain;
}

.list__btn:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: 200ms;
    transition: 200ms; 
}

.form__text:focus,
.form__color:focus,
.form__btn--enabled:focus,
.form__color:hover,
.form__btn--enabled:hover,
.form__text:hover {
    -webkit-box-shadow: 0 0 4px 1px rgb(124, 187, 214);
    box-shadow: 0 0 4px 1px rgb(124, 187, 214);
}

.list__btn:focus {
    -webkit-box-shadow: 0 0 4px 1px rgb(191, 3, 10);
    box-shadow: 0 0 4px 1px rgb(191, 3, 10);
}

input:focus::-webkit-input-placeholder {
    color:transparent;
}
  
input:focus:-moz-placeholder {
    color:transparent;
} /* FF 4-18 */

input:focus::-moz-placeholder {
    color:transparent;
} /* FF 19+ */
  
input:focus:-ms-input-placeholder {
    color:transparent;
}

.empty-list {
    text-align: center;
    color: rgb(5, 72, 102);
    font-size: 20px;
}

* {
    outline: none;
}

.form__btn--enabled:active,
.form__color:active {
    background-color: rgb(124, 187, 214);
    border: rgb(124, 187, 214) 1px solid;
}

.list__btn:active {
    background-color: rgb(191, 3, 10);
}

.empty-list--hidden {
    visibility: hidden;
}